<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8>
        <title>INDEX PAGE OF PROBLEMS</title>
    </head>
    <body>
        <div class="page-title">
            <h1>Problem List</h1>
        </div>
        <h2>Introductory Problems</h2>
        <table class = "problem-list">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in object_list %}
                <tr>
                    <td>{{problem.code}}</td>
                    <td><a href="{{problem.pk}}">{{problem.name}}</a></td>
                    <td>{{problem.points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
<style>

</style>